body {
  margin-left:70px;
  width: 90%;
}


#overview {
  margin-left: 20px;
  z-index: 1;
}

#menu {
  margin-left: 20px;
}

#gallery-container {
  margin-left: 20px;
}

#reservation {
  top: 10px;
  z-index: 0;
  float: right;
}

.Jawad {
    position: absolute;
    top: 0px;
    left: 5%;
    
    width: 1050px;
    
}  
.Issac {
    position: relative;
    float:left;
    top: 0px;
    left: auto;
    width: 300px;
    
}  
.shared{
    width:1000px;
   display:flex;
    justify-content: left;
}


